body {
background-color: lightblue;
}

.home-content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeButton  {
  display: inline-block;
    margin: 0 20px;
    text-align: center !important;
}

.creditButton  {
  display: inline-block;
    margin: 0 20px;
    text-align: center !important;
    
}